.TP__main__content__list__element
  .TP__main__content__list__element__info
    %h3.TP__main__content__list__element__info__title
      = title
    -# %a.TP__main__content__list__element__info__link{href: "#"} もっと見る
  .TP__main__content__list__element__label
    %div.TP__main__content__list__element__label__element
      %ul.TP__main__content__list__element__label__element__photo
        %li.TP__main__content__list__element__label__element__photo__one
          .parent
            - @item.first(5).each do |item|
              = link_to , class: "TP__main__content__list__element__label__element__photo__one__link" do
                %figure.TP__main__content__list__element__label__element__photo__one__link__figure
                  %figcaption
                    %span 
                      = item.name
                  .TP__main__content__list__element__label__element__photo__one__link__figure__price
                    %span{"aria-label" => "Price"} 
                      = item.price  
                    = image_tag(show_image_image_path(item))