.TP__main__content__list__element
  .TP__main__content__list__element__info
    %h3.TP__main__content__list__element__info__title
      レディース新着アイテム
    -# %a.TP__main__content__list__element__info__link{href: "#"} もっと見る
  .TP__main__content__list__element__label
    %div.TP__main__content__list__element__label__element
      %ul.TP__main__content__list__element__label__element__photo
        %li.TP__main__content__list__element__label__element__photo__one
          .parent
            - @ledys.first(5).each do |item|
              - if user_signed_in?
                = link_to detail_path(item), class: "TP__main__content__list__element__label__element__photo__one__link" do
                  %figure.TP__main__content__list__element__label__element__photo__one__link__figure
                    %figcaption
                      %span 
                        = item.name
                    .TP__main__content__list__element__label__element__photo__one__link__figure__price
                      %span{"aria-label" => "Price"} 
                        ¥
                        = item.price
                      = image_tag item.item_images[0].image_url.url
              - else
                = link_to new_user_session_path, class: "TP__main__content__list__element__label__element__photo__one__link" do
                  %figure.TP__main__content__list__element__label__element__photo__one__link__figure
                    %figcaption
                      %span 
                        = item.name
                    .TP__main__content__list__element__label__element__photo__one__link__figure__price
                      %span{"aria-label" => "Price"} 
                        ¥
                        = item.price
                      = image_tag item.item_images[0].image_url.url
          - if @ledys.length >= 6
            .parent
              - @ledys.slice(5..9).each do |item|
                = link_to detail_path(item), class: "TP__main__content__list__element__label__element__photo__one__link" do
                  %figure.TP__main__content__list__element__label__element__photo__one__link__figure
                    %figcaption
                      %span 
                        = item.name
                    .TP__main__content__list__element__label__element__photo__one__link__figure__price
                      %span{"aria-label" => "Price"} 
                        ¥
                        = item.price
                      = image_tag item.item_images[0].image_url.url
          - else

.TP__main__content__list__element
  .TP__main__content__list__element__info
    %h3.TP__main__content__list__element__info__title
      メンズ新着アイテム
    -# %a.TP__main__content__list__element__info__link{href: "#"} もっと見る
  .TP__main__content__list__element__label
    %div.TP__main__content__list__element__label__element
      %ul.TP__main__content__list__element__label__element__photo
        %li.TP__main__content__list__element__label__element__photo__one
          .parent
            - @mens.first(5).each do |item|
              = link_to detail_path(item), class: "TP__main__content__list__element__label__element__photo__one__link" do
                %figure.TP__main__content__list__element__label__element__photo__one__link__figure
                  %figcaption
                    %span 
                      = item.name
                  .TP__main__content__list__element__label__element__photo__one__link__figure__price
                    %span{"aria-label" => "Price"} 
                      ¥
                      = item.price
                    = image_tag item.item_images[0].image_url.url
          - if @mens.length >= 6
            .parent
              - @mens.slice(5..9).each do |item|
                = link_to detail_path(item), class: "TP__main__content__list__element__label__element__photo__one__link" do
                  %figure.TP__main__content__list__element__label__element__photo__one__link__figure
                    %figcaption
                      %span 
                        = item.name
                    .TP__main__content__list__element__label__element__photo__one__link__figure__price
                      %span{"aria-label" => "Price"} 
                        ¥
                        = item.price
                      = image_tag item.item_images[0].image_url.url
          - else

.TP__main__content__list__element
  .TP__main__content__list__element__info
    %h3.TP__main__content__list__element__info__title
      家電・スマホ・カメラ新着アイテム
    -# %a.TP__main__content__list__element__info__link{href: "#"} もっと見る
  .TP__main__content__list__element__label
    %div.TP__main__content__list__element__label__element
      %ul.TP__main__content__list__element__label__element__photo
        %li.TP__main__content__list__element__label__element__photo__one
          .parent
            - @appliances.first(5).each do |item|
              = link_to detail_path(item), class: "TP__main__content__list__element__label__element__photo__one__link" do
                %figure.TP__main__content__list__element__label__element__photo__one__link__figure
                  %figcaption
                    %span 
                      = item.name
                  .TP__main__content__list__element__label__element__photo__one__link__figure__price
                    %span{"aria-label" => "Price"} 
                      ¥
                      = item.price
                    = image_tag item.item_images[0].image_url.url
          - if @appliances.length >= 6
            .parent
              - @appliances.slice(5..9).each do |item|
                = link_to detail_path(item), class: "TP__main__content__list__element__label__element__photo__one__link" do
                  %figure.TP__main__content__list__element__label__element__photo__one__link__figure
                    %figcaption
                      %span 
                        = item.name
                    .TP__main__content__list__element__label__element__photo__one__link__figure__price
                      %span{"aria-label" => "Price"} 
                        ¥
                        = item.price
                      = image_tag item.item_images[0].image_url.url
          - else

.TP__main__content__list__element
  .TP__main__content__list__element__info
    %h3.TP__main__content__list__element__info__title
      おもちゃ・ホビー・グッズ新着アイテム
    -# %a.TP__main__content__list__element__info__link{href: "#"} もっと見る
  .TP__main__content__list__element__label
    %div.TP__main__content__list__element__label__element
      %ul.TP__main__content__list__element__label__element__photo
        %li.TP__main__content__list__element__label__element__photo__one
          .parent
            - @hobby.first(5).each do |item|
              = link_to detail_path(item), class: "TP__main__content__list__element__label__element__photo__one__link" do
                %figure.TP__main__content__list__element__label__element__photo__one__link__figure
                  %figcaption
                    %span 
                      = item.name
                  .TP__main__content__list__element__label__element__photo__one__link__figure__price
                    %span{"aria-label" => "Price"} 
                      ¥
                      = item.price
                    = image_tag item.item_images[0].image_url.url
          - if @hobby.length >= 6
            .parent
              - @hobby.slice(5..9).each do |item|
                = link_to detail_path(item), class: "TP__main__content__list__element__label__element__photo__one__link" do
                  %figure.TP__main__content__list__element__label__element__photo__one__link__figure
                    %figcaption
                      %span 
                        = item.name
                    .TP__main__content__list__element__label__element__photo__one__link__figure__price
                      %span{"aria-label" => "Price"} 
                        ¥
                        = item.price
                      = image_tag item.item_images[0].image_url.url
          - else