.tp-element__main
  .main__advertising
    %link_to{href:"#"}
      .main-content__ad
  .main__content
    .content__poplarcategory
      .item-tag.item-tag-a
        %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv1__3ygH4.tag-style.tagstyle-a
          人気のカテゴリー
        %ul.popularcategory__list.popularcategory__list-a
          %li.category-list.category-list-a
            %a.category-name.category-name-a.category-name-b レディース
          %li.category-list.category-list-a
            %a.category-name.category-name-a.category-name-b メンズ
          %li.category-list.category-list-a
            %a.category-name.category-name-a.category-name-b 家電・スマホ・カメラ
          %li.category-list.category-list-a
            %a.category-name.category-name-a.category-name-b おもちゃ・ホビー・グッズ
      = render'shared/item-list.html.haml', title:"レディース新着アイテム"
      = render'shared/item-list.html.haml', title:"メンズ新着アイテム"
      = render'shared/item-list.html.haml', title:"家電・スマホ・カメラ新着アイテム"
      = render'shared/item-list.html.haml', title:"おもちゃ・ホビー・グッズ新着アイテム"
    .content__popularbrand
      .item-tag.item-tag-a
        %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv1__3ygH4.tag-style.tagstyle-a
          人気のブランド
        %ul.popularburand__list.popularburand__list-a
          %li.burand-list.burand-list-a
            %a.burand-name.burand-name-a.burand-name-b シャネル
          %li.burand-list.burand-list-a
            %a.burand-name.burand-name-a.burand-name-b ルイヴィトン
          %li.burand-list.burand-list-a
            %a.burand-name.burand-name-a.burand-name-b シュプリーム                
          %li.burand-list.burand-list-a
            %a.burand-name.burand-name-a.burand-name-b ナイキ
      = render'shared/item-list.html.haml', title:"シャネル新着アイテム"
      = render'shared/item-list.html.haml', title:"ルイヴィトン新着アイテム"
      = render'shared/item-list.html.haml', title:"シュプリーム新着アイテム"
      = render'shared/item-list.html.haml', title:"ナイキ新着アイテム"
    = render'shared/TP_buy_icon'
.tp-element__mercari-ad
  .ad__content
    .ad__space
      .ad__left
        .left__element スマホでかんたんフリマアプリ
        .element__bottom 
          今すぐ無料ダウンロード
          .element__logo
            %img.mercari-logo{href:"#"}
            %link_to.ad_logo_apple{href:"#", target:"_brank"}
              -# %img.appstore_logo{src:"/Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg", art}
            %link_to.ad_logo_google{herf:"#", target:"_brank"}
              -# %img.googleplay_logo{src:"/google-play-badge.png", art}
      %figure.ad__right
        -# %img.right__imeage{src:"/mercari-ad.jpg" art}
      