.exh_container
  %h2 出品した商品
  %ul.listing-tabs
    %li.active
      %h3
        =link_to "出品中", exhibition_homes_path
    %li
      %h3
        = link_to "取引中","#"
    %li
      %h3
        = link_to "売却済","#"
  .exh_container__content
    %ul.exh_container__content__list
      - @items.each do |item|
        %li
          = link_to item_path(item),class:"item-link" do
            %figure
              .lazyloaded
                = image_tag item.item_images[0].image_url.url
            .mypage-item-body
              .mypage-item-body__name
                #{item.name}
              .mypage-item-body__icon
                %i.far.fa-heart 
                .count
                  0
                %i.far.fa-comment-alt
                .count
                  0
                .status
                  出品中
            %i.fas.fa-angle-right
    