.UP__contents__left
  %nav.UP__contents__left__nav
    %ul.UP__contents__left__nav__list
      = render partial: "UP_left_list", locals:{title: "マイページ", link_to: homes_path }
      = render partial: "UP_left_list", locals:{title: "お知らせ", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "やることリスト", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "いいね！一覧", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "出品する", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "出品した商品 - 出品中", link_to: exhibition_homes_path}
      = render partial: "UP_left_list", locals:{title: "出品した商品 - 取引中", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "出品した商品 - 売却済み", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "購入した商品 - 取引中", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "出品した商品 - 売却済み", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "購入した商品 - 取引中", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "購入した商品 - 過去の取引", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "ニュース一覧", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "評価一覧", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "ガイド", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "お問い合わせ", link_to: "#"}

    %h3.UP__contents__left__nav__head メルペイ
    %ul.UP__contents__left__nav__list
      = render partial: "UP_left_list", locals:{title: "売上・振込申請", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "ポイント", link_to: "#"}

    %h3.UP__contents__left__nav__head 設定
    %ul.UP__contents__left__nav__list
      = render partial: "UP_left_list", locals:{title: "プロフィール", link_to: prof_homes_path }
      = render partial: "UP_left_list", locals:{title: "発送元・お届け先住所変更", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "支払い方法", link_to: card_homes_path}
      = render partial: "UP_left_list", locals:{title: "メール/パスワード", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "本人情報", link_to:  identification_homes_path }
      = render partial: "UP_left_list", locals:{title: "電話番号の確認", link_to: "#"}
      = render partial: "UP_left_list", locals:{title: "ログアウト", link_to: logout_homes_path }