- breadcrumb :exhibition
.UP
  = render "breadcrumbs"
  = render "shared/TP_header"
  = render "breadcrumbs"
  .UP__contents
    = render "UP_left"
    = render "UP_exhibition"
  = render "shared/TP_buy_icon"
  = render "shared/TP_footer"