= render "items/sell_header"
.se_main
  .se_main__container
    .se_main__container__title
      新規会員登録
    .se_main__container__box
      .se_main__container__box__content
        = link_to new_user_registration_path,{class: "btn-default btn-mail"} do
          %i.fa.fa-envelope-o メールアドレスで登録する
        %br/
        %button#facebook-login.btn-default
          = link_to "Facebookで登録する",user_facebook_omniauth_authorize_path,{class: "facebook-link"}
          %i.fab.fa-facebook-square
        %br/
        %button#google-login.btn-default
          = link_to "Googleで登録する",user_google_oauth2_omniauth_authorize_path,{class: "google-link"}
          = embedded_svg("icons8-google.svg",class:"google-logo-svg")
        
= render "items/sell_footer"